extends src/core/main

block variables
    - var title = 'Главная';
    - var mainPage = true;
    - var showTitle = false;
    - var contentPage = false;
    - var showAside = false;

block content
    .index
        .index__banner
            .container
                .index-banner
                    .swiper.index-banner__swiper
                        .swiper-wrapper
                            .swiper-slide.index-banner__slide
                                .index-banner__left
                                    .index-banner__title Брокерские услуги
                                    .index-banner__desc Полный доступ к проведению торговых операций на финансовых рынках со всеми видами инструментов
                                    a(href="#").index-banner__btn Подробнее
                                .index-banner__right
                                    .index-banner__img
                                        img(src='/upload/images/content/index-banner/img.jpg')
                            .swiper-slide.index-banner__slide
                                .index-banner__left
                                    .index-banner__title Брокерские услуги
                                    .index-banner__desc Полный доступ к проведению торговых операций на финансовых рынках со всеми видами инструментов
                                    a(href="#").index-banner__btn Подробнее
                                .index-banner__right
                                    .index-banner__img
                                        img(src='/upload/images/content/index-banner/img.jpg')
                            .swiper-slide.index-banner__slide
                                .index-banner__left
                                    .index-banner__title Брокерские услуги
                                    .index-banner__desc Полный доступ к проведению торговых операций на финансовых рынках со всеми видами инструментов
                                    a(href="#").index-banner__btn Подробнее
                                .index-banner__right
                                    .index-banner__img
                                        img(src='/upload/images/content/index-banner/img.jpg')

                    .index-banner__nav
                        button(type='button').index-banner__arr.index-banner__prev
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.777344" y="0.951416" width="24" height="24" rx="12" fill="white"/>
                            <path d="M16.1873 17.5314L11.6073 12.9514L16.1873 8.36142L14.7773 6.95142L8.77734 12.9514L14.7773 18.9514L16.1873 17.5314Z" fill="#BDBDBD"/>
                            </svg>
                        .index-banner__pag
                        button(type='button').index-banner__arr.index-banner__next
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.777344" y="0.951416" width="24" height="24" rx="12" fill="white"/>
                            <path d="M9.36719 17.5314L13.9472 12.9514L9.36719 8.36142L10.7772 6.95142L16.7772 12.9514L10.7772 18.9514L9.36719 17.5314Z" fill="#BDBDBD"/>
                            </svg>
        .index__advantages
            .container
                .index-advantages
                    .index-advantages__item
                        .index-advantages__count
                        .index-advantages__content
                            .index-advantages__title Инвест Нова
                            .index-advantages__desc Это команда из аналитиков, трейдеров и финансовых экспертов, которая создаёт решения для бизнеса.
                    .index-advantages__item
                        .index-advantages__count
                        .index-advantages__content
                            .index-advantages__title Экспертиза
                            .index-advantages__desc Расскажем, как получать дополнительный доход, привлекать финансирование и управлять рисками.
                    .index-advantages__item
                        .index-advantages__count
                        .index-advantages__content
                            .index-advantages__title Практика
                            .index-advantages__desc Обучим сложным финансовым инструментам и разберём примеры.
        .index__services
            .container
                .index-services
                    .index-services
                        .index-services__top
                            +top('Услуги')
                        .index-services__items
                            .index-services__item
                                .index-services__left
                                    .index-services__img
                                        img(src="upload/images/content/index-services/1.png" alt="lorem")
                                .index-services__right
                                    .index-services__content
                                        h3 Депозитарные услуги
                                        p В сответствии с выданной лицензией на осуществление депозитарной деятельности имеет собственный депозитарий, что значительно повышает надежность хранения ценных бумаг клиентов, увеличивает скорость проведения сделок, и дает возможность получения оперативной информации от эмитентов.
                                        a(href="#") Подробнее
                            .index-services__item
                                .index-services__left
                                    .index-services__img
                                        img(src="upload/images/content/index-services/2.png" alt="lorem")
                                .index-services__right
                                    .index-services__content
                                        h3 Брокерские услуги
                                        p Брокерская деятельность основана на принципе предоставления клиентам максимально полного доступа к финансовым рынкам и инструментам.
                                        a(href="#") Подробнее
        .index__news
            .container
                .index-news
                    .index-news__top
                        +top('Новости')
                    div(data-tabs='root').index-news__bottom
                        div(data-tabs='btns').index-news__btns
                            button(type='button' data-tabs='btn').index-news__btn.active о компании
                            button(type='button' data-tabs='btn').index-news__btn рыночные
                            button(type='button' data-tabs='btn').index-news__btn КД
                        div(data-tabs='tabs').index-news__tabs
                            div(data-tabs='tab').index-news__tab.active
                                .index-news__items
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/1.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Российский рынок акций: динамика индекса Мосбиржи за неделю и отчетность компаний за 2023 год
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/2.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Инфляция в России в январе 2024 года и прогноз ключевой ставки по месяцам
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/3.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Тренд или новая реальность? Рынок криптовалют
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/4.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Курс юаня к рублю и к доллару: что влияло на котировки в январе 2024 года
                            div(data-tabs='tab').index-news__tab
                                .index-news__items
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/1.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Российский рынок акций: динамика индекса Мосбиржи за неделю и отчетность компаний за 2023 год
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/2.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Инфляция в России в январе 2024 года и прогноз ключевой ставки по месяцам
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/3.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Тренд или новая реальность? Рынок криптовалют
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/4.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Курс юаня к рублю и к доллару: что влияло на котировки в январе 2024 года
                            div(data-tabs='tab').index-news__tab
                                .index-news__items
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/1.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Российский рынок акций: динамика индекса Мосбиржи за неделю и отчетность компаний за 2023 год
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/2.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Инфляция в России в январе 2024 года и прогноз ключевой ставки по месяцам
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/3.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Тренд или новая реальность? Рынок криптовалют
                                    a(href="#").index-news__item
                                        span.index-news__img
                                            img(src="/upload/images/content/index-news/4.jpg" alt="lorem")
                                        span.index-news__wrap
                                            span.index-news__date 29 января 2024
                                            span.index-news__desc Курс юаня к рублю и к доллару: что влияло на котировки в январе 2024 года
        .index__mail
            .container
                .index-mail
                    .index-mail__content
                        p
                            |Остались вопросы?
                            br
                            |свяжитесь с нами по почте
                            br
                            a(href="mailto:mail@centras.ru") mail@centras.ru
        .index__licences
            .container
                .index-licences
                    .index-licences__top
                        +top('Лицензии')
                    .index-licences__bottom
                        .swiper.index-licences__swiper
                            .swiper-wrapper
                                a(href="/upload/images/content/index-licences/img.png" data-fancybox="licences").swiper-slide.index-licences__slide
                                    span.index-licences__img
                                        span.index-licences__img-wrap
                                            span.index-licences__shade
                                            img(src="/upload/images/content/index-licences/img.png" alt="lorem")
                                    span.index-licences__desc Брокерской деятельности № 177-10255-100000 от 07.06.2007 г. Лицензия бессрочная.
                                a(href="/upload/images/content/index-licences/img.png" data-fancybox="licences").swiper-slide.index-licences__slide
                                    span.index-licences__img
                                        span.index-licences__img-wrap
                                            span.index-licences__shade
                                            img(src="/upload/images/content/index-licences/img.png" alt="lorem")
                                    span.index-licences__desc Дилерской деятельности № 177-10264-010000 от 07.06.2007 г. Лицензия бессрочная.
                                a(href="/upload/images/content/index-licences/img.png" data-fancybox="licences").swiper-slide.index-licences__slide
                                    span.index-licences__img
                                        span.index-licences__img-wrap
                                            span.index-licences__shade
                                            img(src="/upload/images/content/index-licences/img.png" alt="lorem")
                                    span.index-licences__desc Депозитарной деятельности № 177-10751-000100 от 15.11.2007 г. Лицензия бессрочная.
                                a(href="/upload/images/content/index-licences/img.png" data-fancybox="licences").swiper-slide.index-licences__slide
                                    span.index-licences__img
                                        span.index-licences__img-wrap
                                            span.index-licences__shade
                                            img(src="/upload/images/content/index-licences/img.png" alt="lorem")
                                    span.index-licences__desc Брокерской деятельности № 177-10255-100000 от 07.06.2007 г. Лицензия бессрочная.
                        .index-licences__nav
                            button(type='button').index-licences__arr.index-licences__prev
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.333984" y="0.807129" width="44" height="44" rx="22" fill="white"/>
                                <path d="M28.586 31.2038L20.1893 22.8071L28.586 14.3921L26.001 11.8071L15.001 22.8071L26.001 33.8071L28.586 31.2038Z" fill="#BDBDBD"/>
                                </svg>
                            button(type='button').index-licences__arr.index-licences__next
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.959961" y="0.807129" width="44" height="44" rx="22" fill="white"/>
                                <path d="M16.708 31.2038L25.1047 22.8071L16.708 14.3921L19.293 11.8071L30.293 22.8071L19.293 33.8071L16.708 31.2038Z" fill="#BDBDBD"/>
                                </svg>
        .index__contacts
            .container
                .index-contacts
                    .index-contacts__top
                        .top
                            .top__title Контактная информация
                    .index-contacts__bottom
                        .index-contacts__col
                            .index-contacts__map#index-map
                        .index-contacts__col
                            .index-contacts__wrap
                                .index-contacts__ball
                                    <svg width="236" height="193" viewBox="0 0 236 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_131_2404" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="-1" width="236" height="236">
                                    <path d="M0.617188 117.018C0.617188 181.656 53.2455 234.044 118.18 234.044C183.114 234.044 235.743 181.643 235.743 117.018C235.743 52.3933 183.101 -0.0078125 118.18 -0.0078125C53.2586 -0.0078125 0.617188 52.3933 0.617188 117.018Z" fill="white"/>
                                    </mask>
                                    <g mask="url(#mask0_131_2404)">
                                    <path d="M105.402 -116.344L-116.252 129.738L130.959 350.38L352.613 104.298L105.402 -116.344Z" fill="url(#paint0_radial_131_2404)"/>
                                    </g>
                                    <defs>
                                    <radialGradient id="paint0_radial_131_2404" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(143.332 71.9189) rotate(132.01) scale(221.497 197.941)">
                                    <stop stop-color="#6B7ABA"/>
                                    <stop offset="0.14" stop-color="#6676B7"/>
                                    <stop offset="0.28" stop-color="#5A6CB1"/>
                                    <stop offset="0.41" stop-color="#495DA8"/>
                                    <stop offset="0.51" stop-color="#4056A2"/>
                                    <stop offset="0.58" stop-color="#39509E"/>
                                    <stop offset="0.67" stop-color="#2E4395"/>
                                    <stop offset="0.68" stop-color="#2D4294"/>
                                    <stop offset="0.73" stop-color="#29387C"/>
                                    <stop offset="0.81" stop-color="#23264E"/>
                                    <stop offset="1" stop-color="#252752"/>
                                    </radialGradient>
                                    </defs>
                                    </svg>

                                .index-contacts__content
                                    .index-contacts__name ООО «ИнвестНова»:
                                    .index-contacts__addr Россия, Москва, 119415, г. Москва, ул. Удальцова д. 1А. Бизнес Центр, 8 этаж
                                    .index-contacts__tel
                                        a(href="tel:+7(495)2151083") +7 (495) 215 10 83
                                    .index-contacts__mail
                                        a(href="mailto:mail@centras.ru") mail@centras.ru










