@use "../core/ui/mixins" as ui;
@use "sass:math";

.contacts {

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include ui.lg-block {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 0;
    }
    @include ui.sm-block {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__item {
    border-left: 1px solid #cecece;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    @include ui.lg-block {
      padding-left: 0;
    }
    @include ui.sm-block {
      border: none;
      padding: 0;
    }


    &:first-child {
      border: none;
      padding-left: 0;
    }

    &:nth-child(odd) {
      @include ui.lg-block {
        border: none;
      }
    }

    &:nth-child(even) {
      @include ui.lg-block {
        padding-left: 110px;
      }
      @include ui.md-block {
        padding-left: 45px;
      }
      @include ui.sm-block {
        padding: 0;
      }
    }
  }

  &__map {
    margin-top: 25px;
    position: relative;
    border-radius: 13px;
    overflow: hidden;

    [class*="copyrights-pane"] {
      display: none !important;
    }

    [class*="ground-pane"] {
      filter: grayscale(1);
    }

    height: 632px;
    width: 100%;
    @include ui.xlg-block {
      height: 547px;
    }
    @include ui.md-block {
      height: 422px;
    }
  }

  &__map-inner {
    position: absolute;
    inset: 0;
  }

  &__bottom {
    margin-top: 50px;
  }
}

.contact {
  display: grid;
  gap: 18px;
  @include ui.md-block {
    gap: 10px;
  }
  @include ui.sm-block {
    gap: 8px;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 700;
  }

  &__content {
    font-size: 18px;

    b {
      color: var(--MainBlue);
      font-weight: 500;
    }

    br {
      @include ui.sm-block {
        content: '';
        display: block;
      }
    }

  }
}

.contacts-director {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  @include ui.md-block {
    grid-template-columns: repeat(2, 1fr);
  }
  @include ui.sm-block {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    color: var(--MainBlue);
  }

  &__info {
    font-size: 18px;
    @include ui.md-block {
      order: 1;
      grid-column: span 2;
    }
    @include ui.sm-block{
        grid-column: span 1;
    }
  }

  &__link {
    display: flex;
    justify-content: end;
    align-items: start;
    @include ui.sm-block{
        justify-content: start;
    }

    a {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 18px;
      font-weight: 700;
      text-decoration: underline;
      color: var(--MainBlue);

      &:hover {
        @media (hover: hover) and (pointer: fine) {
          color: var(--MainRed);
        }
      }

      svg {
        path {
          fill: currentColor;
        }
      }
    }
  }
}