@use "../core/ui/mixins" as ui;

.header-menu {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  position: relative;
  z-index: 11;

  &__item {
    position: relative;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        .header-menu__sub {
          display: flex;
        }
      }
    }
  }

  &__link {
    @include ui.Text16;
    @include ui.link-gary1;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px 5px;

    svg {
      path {
        fill: currentColor;
      }
    }
  }

  &__sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 280px;

    flex-direction: column;
    padding: 10px 20px;
    background: var(--White);
    border-radius: 10px;
  }

  &__sub-item {
    border-bottom: 1px solid var(--border);
    &:last-child{
      border-color: transparent;
    }
  }

  &__sub-link {
    padding: 10px 0;
    display: block;
    @include ui.link-gary1;
  }
}