@use "../core/ui/mixins" as ui;

.index {
  padding-top: 40px;
  padding-bottom: 84px;
  @include ui.xlg-block {
    padding-top: 20px;
  }
  @include ui.lg-block {
    padding-bottom: 60px;
  }
  @include ui.md-block{
    padding-bottom: 50px;
  }

  &__advantages {
    @include ui.mt(6);
  }

  &__services {
    @include ui.mt(6);
  }

  &__news {
    @include ui.mt(9);
  }

  &__mail {
    @include ui.mt(6);
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 50%;
      left: 0;
      right: 0;
      background: var(--White);
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }

  &__licences {
    padding: 75px 0;
    background: var(--White);
    @include ui.md-block {
      padding: 45px 0;
    }

  }

  &__contacts {
    position: relative;
    @include ui.sm-block{
      display: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 55%;
      left: 0;
      right: 0;
      background: var(--White);
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }
}