@use "../core/ui/mixins" as ui;
.index-mail {
  background: url("/upload/images/content/index-mail/bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 90px;
  border-radius: 20px;
  @include ui.xlg-block{
    padding: 80px 0;
  }
  @include ui.md-block{
    padding: 70px 0;
  }
  @include ui.sm-block{
    padding: 80px 0;
  }

  &__content {
    text-align: center;
    color: var(--White);
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    @include ui.md-block{
      font-size: 28px;
    }
    @include ui.sm-block{
      font-size: 20px;
    }

    a{
      @include ui.link-white;
      text-decoration: underline;
    }
  }
}