extends ../src/core/main

block variables
    - var title = 'Брокерские услуги';
    - var mainPage = false;
    - var showTitle = true;
    - var contentPage = true;
    - var showAside = true;

block aside
    .page__menu
        .page-menu
            a(href="#").page-menu__item Депозитарные услуги
            a(href="#").page-menu__item.active Брокерские услуги


block content
    .service
        .service__content
            p.text-24 ООО «ИнвестНова» имеет лицензии на осуществление брокерской деятельности и предлагает услуги по широкому перечню операций с различными видами финансовых инструментов и на различных рынках.
            img(src="/upload/images/content/sample/img.jpg" alt="lorem")
            p Брокерская деятельность основана на принципе предоставления клиентам максимально полного доступа к финансовым рынкам и инструментам.
            h2 ООО «ИнвестНова» предлагает своим клиентам следующие услуги:
            ul
                li Операции с финансовыми инструментами, в т.ч. сделки по купли продаже, РЕПО, сделки с производными финансовыми инструментами и др.; 
                li Предоставление клиентам возможности проведения торговых операций с использованием систем интернет-трейдинга, а также текущей информации по котировкам в оперативном режиме (on-line);
                li Финансирование торговых операций и предоставление маржинальных займов;
                li Ведение счетов клиентов и отчетность; 
                li Консультация и обучение.
            h2 Брокерская деятельность Компании основана на следующих принципах:
            ul
                li Оперативное исполнение клиентских заказов (поручений);
                li Отражение проведенных операций по счетам клиентов;
                li Регулярная отчетность перед клиентом.
            h2 Ценные бумаги.
            p Являясь участником торгов на Московской бирже, Компания может обеспечить исполнение Ваших приказов на совершение сделок купли-продажи ценных бумаг, допущенных к торгам на Московской бирже:
            ul
                li Акции;
                li Облигации;
                li Депозитарные расписки;
                li Паи ПИФов и ETF’s.
            h2 Производные финансовые инструменты.
            p Компания может обеспечить покупку фьючерсов и опционов, торгуемых на Московской бирже.
            blockquote Трейдеры Компании - это команда высокопрофессиональных специалистов, имеющих богатый опыт на рынках капитала. ООО «ИнвестНова» имеет широкий круг партнеров.

        .service__mail
            .index-mail
                .index-mail__content
                    p
                        | Остались вопросы?
                        br
                        | свяжитесь с нами по почте
                        br
                        a(href="mailto:mail@centras.ru") mail@centras.ru