extends ../src/core/main

block variables
    - var title = 'О компании';
    - var mainPage = false;
    - var showTitle = true;
    - var contentPage = true;
    - var showAside = true;

block aside
    .page__menu
        .page-menu
            a(href="#").page-menu__item.active Основные сведения
            a(href="#").page-menu__item Лицензии
            a(href="#").page-menu__item Членство в СРО
            a(href="#").page-menu__item Судебные споры
            a(href="#").page-menu__item Информация о технических сбоях
            a(href="#").page-menu__item Инфраструктура, используемая компанией
            a(href="#").page-menu__item Реквизиты компании

block content
    p.text-24 ООО «ИнвестНова» российская инвестиционная компания основанная в начале 2004 года.
    img(src="/upload/images/content/about/img.jpg" alt="lorem")
    p Компания является членом ПАО Московская Биржа, а также членом Национальной Ассоциации Участников Фондового Рынка (НАУФОР) с 2007 года.
    p Компания предоставляет право своим Клиентам работать через систему интернет-трейдинга, и оказывает полный комплекс услуг на фондовом рынке:
    ul
        li Брокерские услуги
        li Операции с финансовыми инструментами срочного рынка
        li Депозитарные услуги
    p В своей деятельности ООО «ИнвестНова» руководствуется принципами профессионализма, надежности и качества, считая основными критериями своей деятельности - обеспечение максимальной эффективности инвестиций Клиентов, индивидуальный подход и гибкую тарифную политику.
    p Мы убеждены, что успех компании не возможен без успеха ее клиентов, поэтому сотрудники компании готовы предложить нашим Клиентам только лучшие ресурсы и финансовые решения.
    p ООО «ИнвестНова» предоставляет свои услуги как резидентам, так и нерезидентам РФ, юридическим и физическим лицам.