@use "mixins" as ui;

.content {
  @include ui.content;
}

.container {
  @include ui.container;
  max-width: var(--container-width);
  padding: var(--container-padding);

  &--small{
    max-width: 930px;
    @include ui.lg-block{
      max-width: 100%;
    }
  }
}

.text{
  &-18{
    @include ui.Text18;
  }

  &-24{
    @include ui.Text24;
  }
}

@for $i from 1 through 20 {
  .mt-#{$i}0 {
    margin-top: calc(var(--spacing) * $i) !important;
  }
  .mb-#{$i}0 {
    margin-bottom: calc(var(--spacing) * $i) !important;
  }
}