extends ../src/core/main

block variables
    - var title = 'Заголовок 1';
    - var mainPage = false;
    - var showTitle = true;
    - var contentPage = true;
    - var showAside = false;

block content
    p.text-24 ООО «ИнвестНова» имеет лицензии на осуществление брокерской деятельности и предлагает услуги по широкому перечню операций с различными видами финансовых инструментов и на различных рынках.
    img(src="/upload/images/content/sample/img.jpg" alt="lorem")
    p
        a(href="#") Брокерская деятельность
        |&nbsp;
        |основана на принципе предоставления клиентам максимально полного доступа к финансовым рынкам и инструментам.
    h2 Заголовок 2
    p Наша компания обладает современным оборудованием для тиснения логотипов на изделиях из натуральной и искусственной кожи, включая обложки ежедневников. Логотип золотого, серебряного или другого нужного цвета выдавливается в материале под воздействием температуры и давления. Вы можете разместить заказ на тиснение по коже фольгой или без нее позвонив по телефону +7 495 369-53-75
    h3 Заголовок 3
    p
        i Оборудованием для тиснения логотипов на изделиях из натуральной и искусственной кожи, включая обложки ежедневников. Логотип золотого, серебряного или другого нужного цвета выдавливается в материале под воздействием температуры и давления. На тиснение по коже фольгой или без нее позвонив по телефону +7 495 369-53-75
    h4 Нумерованный список H4
    ol
        li Операции с финансовыми инструментами, в т.ч. сделки по купли продаже, РЕПО, сделки с производными финансовыми инструментами и др.; 
        li Предоставление клиентам возможности проведения торговых операций с использованием систем интернет-трейдинга, а также текущей информации по котировкам в оперативном режиме (on-line);
        li Финансирование торговых операций и предоставление маржинальных займов;
        li Ведение счетов клиентов и отчетность;
        li Консультация и обучение.
    h5 Маркированный список H5
    ul
        li Операции с финансовыми инструментами, в т.ч. сделки по купли продаже, РЕПО, сделки с производными финансовыми инструментами и др.; 
        li Предоставление клиентам возможности проведения торговых операций с использованием систем интернет-трейдинга, а также текущей информации по котировкам в оперативном режиме (on-line);
        li Финансирование торговых операций и предоставление маржинальных займов;
        li Ведение счетов клиентов и отчетность;
        li Консультация и обучение.
    ol
        li
            |Мы работаем исключительно на современном оборудовании.
            ol
                li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                li У нас работают высококвалифицированные специалисты.
                li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции
        li Качество тиснения логотипов на коже гарантировано многолетним опытом.
        li У нас работают высококвалифицированные специалисты.
        li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной.
        li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
        li Низкие цены на услуги.
    h3 Пример таблицы
    div.ovxa
        table
            thead
                tr
                    th Тариф
                    th Скорость
                    th Стоимость (промо)
                    th Стоимость (после)
            tbody
                tr
                    td Акция Лайт
                    td до 2 Мбит/с
                    td 500 руб/мес
                    td 800 руб/мес
                tr
                    td Акция Стандарт
                    td до 5 Мбит/с
                    td 550 руб/мес
                    td 1100 руб/мес
                tr
                    td Акция Комфорт
                    td до 10 Мбит/с
                    td 800 руб/мес
                    td 1600 руб/мес
    h3 Видео с Youtube
    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1" ></iframe>
    blockquote Выделенный абзац - это команда высокопрофессиональных специалистов, имеющих богатый опыт на рынках капитала. ООО «ИнвестНова» имеет широкий круг партнеров.






