header.header
    .header__top
        .header__left
            .header__logo
                a(href="/")
                    img(src='/upload/images/logo.png')
        .header__center
            .header__addr
                |Россия, г. Москва, 119415,
                br
                |ул.Удальцова д. 1А. Бизнес Центр, 8 этаж
            .header__mail
                a(href="mailto:mail@centras.ru") mail@centras.ru
            .header__info
                .header__phone
                    a(href="tel:+7(495)2151083") +7 (495) 215 10 83
                .header__callback
                    button(type='button') Обратный звонок
        .header__right
            .header__lang
                label.header-lang
                    input(class='header-lang__input' type='checkbox' name='lang' checked data-event='change.SetLang')
                    span.header-lang__fake
                        span.header-lang__ru Ru
                        span.header-lang__en En
            .header__search
                a(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3536 11.4876L14.9258 14.2175M13.0874 7.20912C13.0874 10.5182 10.3649 13.2007 7.00658 13.2007C3.64825 13.2007 0.925781 10.5182 0.925781 7.20912C0.925781 3.90005 3.64825 1.21753 7.00658 1.21753C10.3649 1.21753 13.0874 3.90005 13.0874 7.20912Z" stroke="white" stroke-width="1.73648"/>
                    </svg>
                    span Поиск
    .header__bottom
        .header-menu
            .header-menu__item
                a(href="/about/").header-menu__link
                    span О компании
            .header-menu__item
                a(href="/news/").header-menu__link
                    span Новости
            .header-menu__item
                a(href="/info/").header-menu__link
                    span Информация для клиентов
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28309 6.88647L9.72559 10.329L13.1681 6.88647L14.2256 7.95147L9.72559 12.4515L5.22559 7.95147L6.28309 6.88647Z" fill="#333333"/>
                    </svg>
                .header-menu__sub
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка


            .header-menu__item
                a(href="/legal/").header-menu__link
                    span Правовой режим
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28309 6.88647L9.72559 10.329L13.1681 6.88647L14.2256 7.95147L9.72559 12.4515L5.22559 7.95147L6.28309 6.88647Z" fill="#333333"/>
                    </svg>
                .header-menu__sub
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
            .header-menu__item
                a(href="/financial/").header-menu__link
                    span Финансовая информация
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28309 6.88647L9.72559 10.329L13.1681 6.88647L14.2256 7.95147L9.72559 12.4515L5.22559 7.95147L6.28309 6.88647Z" fill="#333333"/>
                    </svg>
                .header-menu__sub
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__item
                        a(href="#").header-menu__sub-link Ссылка
            .header-menu__item
                a(href="/contacts/").header-menu__link
                    span Контакты





