header.header
    .header__mobile
        .header-mobile
            .header-mobile__overlay(data-event='click.closeMobileMenu' data-target='.header-mobile')
            .header-mobile__main
                .header-mobile__wrap.active
                    .header-mobile__top
                        .header-mobile__title Меню
                        .header-mobile__close
                            button(type='button' data-event='click.closeMobileMenu')
                                svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.5469 6.41L18.1369 5L12.5469 10.59L6.95687 5L5.54688 6.41L11.1369 12L5.54688 17.59L6.95687 19L12.5469 13.41L18.1369 19L19.5469 17.59L13.9569 12L19.5469 6.41Z' fill='#2D2D2D')
                    .header-mobile__bottom
                        .header-mobile__menu
                            .header-mobile__item
                                a.header-mobile__link.root-item(href='/') О компании
                            .header-mobile__item
                                a.header-mobile__link.root-item(href='/')
                                    |Информация
                                    span(data-event='click.openMobileDrop')
                                        svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M9.14078 7.41902L13.7208 11.999L9.14078 16.589L10.5508 17.999L16.5508 11.999L10.5508 5.99902L9.14078 7.41902Z' fill='#2D2D2D')
                                .header-mobile__drop
                                    .header-mobile__wrap
                                        .header-mobile__top
                                            .header-mobile__back
                                                button(type='button' data-event='click.backMobileMenu')
                                                    svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24' height='24' rx='6' transform='matrix(-1 0 0 1 24.5469 0)' fill='#F7F7F7')
                                                        path(d='M15.957 16.58L11.377 12L15.957 7.41L14.547 6L8.54703 12L14.547 18L15.957 16.58Z' fill='#2D2D2D')
                                                    | Назад
                                            .header-mobile__close
                                                button(type='button' data-event='click.closeMobileMenu')
                                                    svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M19.5469 6.41L18.1369 5L12.5469 10.59L6.95687 5L5.54688 6.41L11.1369 12L5.54688 17.59L6.95687 19L12.5469 13.41L18.1369 19L19.5469 17.59L13.9569 12L19.5469 6.41Z' fill='#2D2D2D')
                                        .header-mobile__submenu
                                            .header-mobile__subitem
                                                a.header-mobile__sublink(href='/')
                                                    | Lorem 1
                                            .header-mobile__subitem
                                                a.header-mobile__sublink(href='/')
                                                    | Lorem 2
                                            .header-mobile__subitem
                                                a.header-mobile__sublink(href='/')
                                                    | Lorem 3
                                            .header-mobile__subitem
                                                a.header-mobile__sublink(href='/')
                                                    | Lorem 4
                        .header-mobile__contacts
                            .header-mobile__phone
                                a(href="tel:+7(495)2151083") +7 (495) 215 10 83
                            .header-mobile__callback
                                button(type='button' data-fancybox data-type="ajax" data-src="/ajax/getCallbackForm.php") Обратный звонок
                            .header-mobile__addr
                                | Россия, г. Москва, 119415,
                                br
                                | ул.Удальцова д. 1А. Бизнес Центр, 8 этаж
                            .header-mobile__email
                                a(href="mailto:mail@centras.ru") mail@centras.ru
    .header__top
        .header__left
            .header__open-menu
                button(type='button' data-event='click.openMobileMenu')
                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.25 11.9719H39.25V15.6386H6.25V11.9719ZM6.25 21.1386H30.3482V24.8053H6.25V21.1386ZM6.25 30.3053H20.0875V33.9719H6.25V30.3053Z" fill="#333333"/>
                    </svg>
            .header__logo
                a(href="/")
                    img(src='/upload/images/logo.png')
        .header__center
            .header__addr
                | Россия, г. Москва, 119415,
                br
                | ул.Удальцова д. 1А. Бизнес Центр, 8 этаж
            .header__mail
                a(href="mailto:mail@centras.ru") mail@centras.ru
            .header__info
                .header__phone
                    a(href="tel:+7(495)2151083") +7 (495) 215 10 83
                .header__callback
                    button(type='button' data-fancybox data-type="ajax" data-src="/ajax/getCallbackForm.php") Обратный звонок
        .header__right
            .header__lang
                label.header-lang
                    input(class='header-lang__input' type='checkbox' name='lang' checked data-event='change.SetLang')
                    span.header-lang__fake
                        span.header-lang__ru Ru
                        span.header-lang__en En
            .header__search
                a(href="#")
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3536 11.4876L14.9258 14.2175M13.0874 7.20912C13.0874 10.5182 10.3649 13.2007 7.00658 13.2007C3.64825 13.2007 0.925781 10.5182 0.925781 7.20912C0.925781 3.90005 3.64825 1.21753 7.00658 1.21753C10.3649 1.21753 13.0874 3.90005 13.0874 7.20912Z" stroke="white" stroke-width="1.73648"/>
                    </svg>
                    span Поиск
    .header__bottom
        .header-menu
            .header-menu__item
                a(href="/about/").header-menu__link
                    span О компании
            .header-menu__item
                a(href="/news/").header-menu__link
                    span Новости
            .header-menu__item
                a(href="/info/").header-menu__link
                    span Информация для клиентов
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28309 6.88647L9.72559 10.329L13.1681 6.88647L14.2256 7.95147L9.72559 12.4515L5.22559 7.95147L6.28309 6.88647Z" fill="#333333"/>
                    </svg>
                .header-menu__sub
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка


            .header-menu__item
                a(href="/legal/").header-menu__link
                    span Правовой режим
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28309 6.88647L9.72559 10.329L13.1681 6.88647L14.2256 7.95147L9.72559 12.4515L5.22559 7.95147L6.28309 6.88647Z" fill="#333333"/>
                    </svg>
                .header-menu__sub
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
            .header-menu__item
                a(href="/financial/").header-menu__link
                    span Финансовая информация
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28309 6.88647L9.72559 10.329L13.1681 6.88647L14.2256 7.95147L9.72559 12.4515L5.22559 7.95147L6.28309 6.88647Z" fill="#333333"/>
                    </svg>
                .header-menu__sub
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
                    .header-menu__sub-item
                        a(href="#").header-menu__sub-link Ссылка
            .header-menu__item
                a(href="/contacts/").header-menu__link
                    span Контакты





