:root{
  --font: Mulish, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;

  --Black: #2d2d2d;
  --White: #FFFFFF;
  --RedLight: #FF3683;
  --MainRed: #BA1353;
  --MainBlue: #364FB2;
  --Gray1: #333333;
  --Gray2: #4f4f4f;
  --Gray3: #828282;
  --Gray4: #BDBDBD;
  --Gray5: #e0e0e0;
  --bg: #F6F6F6;
  --border: #d1d1d1;
  --purple: #A7B8FB;


  --container-width: 1380px;
  --container-padding: 0 20px;

  --transition: 0.4s;
  --spacing: 10px;
  @media (max-width: 1919.98px) {
    --spacing: 8px;
    --container-padding: 0 40px;
  }
  @media (max-width: 1439.98px) {
    --spacing: 6px;
    --container-padding: 0 20px;
  }
  @media (max-width: 1023.98px) {
    --container-padding: 0 10px;
  }
  @media (max-width: 767.98px) {
    --spacing: 5px;
  }
}