footer.footer
    .footer__top
        .container
            .footer__top-container
                .footer__up
                    button(type='button')
                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25.4512" cy="25.0378" r="24.0182" stroke="#A7B8FB" stroke-width="1.96355"/>
                        <path d="M21.3358 28.6295L25.9258 24.0495L30.5158 28.6295L31.9258 27.2195L25.9258 21.2195L19.9258 27.2195L21.3358 28.6295Z" fill="#A7B8FB"/>
                        </svg>
                .footer__col
                    .footer__logo
                        a(href="#")
                            img(src='/upload/images/logo.png')
                    .footer__desc ООО «ИнвестНова» российская инвестиционная компания основанная в начале 2004 года.
                    .footer__last
                        |Прежняя версия сайта
                        br
                        a(href="https://investnova.ru/") https://investnova.ru/
                .footer__col
                    .footer__menu
                        a(href="#") О нас
                        a(href="#") Услуги
                        a(href="#") Информация
                        a(href="#") Правовой режим
                        a(href="#") Новости
                        a(href="#") Контакты
                .footer__col
                    .footer__addr
                        | Россия, Москва, 119415, г.
                        br
                        |ул. Удальцова д. 1А.
                        br
                        | Бизнес Центр, 8 этаж
                    .footer__map
                        a(href="#") Показать на карте
                    .footer__tel
                        a(href="tel:+7(495)2151083") +7 (495) 215 10 83
                    .footer__mail
                        a(href="mailto:mail@centras.ru") mail@centras.ru
    .footer__bottom
        .container
            .footer__bottom-container
                .footer__info
                    p © 2004 - 2024, ООО "ИнвестНова" Все права защищены.
                    p Распространение, копирование и изменение материалов сайта, полностью или частично, без получения письменного согласия ООО "ИнвестНова" запрещено. Информация, содержащаяся в материалах настоящего веб-сайта, была подготовлена силами сотрудников ООО "ИнвестНова", предназначается исключительно для сведения клиентов компании и носит справочный вспомогательный характер. ООО "ИнвестНова", в том числе его представители или сотрудники не несут ответственности за любые убытки, возникшие вследствие использования содержания материалов сайта в практической деятельности, а также за достоверность любой информации, приведенной в составе правомерно размещенных на сайте материалов из внешних источников, и любые последствия использования этой информации.
                .footer__policy
                    a(href="/policy/") Политика Конфиденциальности