:root {
  --font: Mulish, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;
  --Black: #2d2d2d;
  --White: #FFFFFF;
  --RedLight: #FF3683;
  --MainRed: #BA1353;
  --MainBlue: #364FB2;
  --Gray1: #333333;
  --Gray2: #4f4f4f;
  --Gray3: #828282;
  --Gray4: #BDBDBD;
  --Gray5: #e0e0e0;
  --bg: #F6F6F6;
  --border: #d1d1d1;
  --purple: #A7B8FB;
  --container-width: 1380px;
  --container-padding: 0 20px;
  --transition: 0.4s;
  --spacing: 10px;
}
@media (max-width: 1919.98px) {
  :root {
    --spacing: 8px;
  }
}
@media (max-width: 1439.98px) {
  :root {
    --spacing: 6px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --spacing: 5px;
  }
}

.content h1 {
  font-weight: 600;
  line-height: 120%;
  font-size: 64px;
}
.content h2 {
  font-weight: 600;
  line-height: 120%;
  font-size: 40px;
}
.content h3 {
  font-weight: 600;
  line-height: 120%;
  font-size: 36px;
}
.content h4 {
  font-weight: 600;
  line-height: 120%;
  font-size: 28px;
}
.content h5 {
  font-weight: 600;
  line-height: 120%;
  font-size: 20px;
}
.content h6 {
  font-size: 16px;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content table {
  margin-top: 40px;
  margin-bottom: 20px;
}
.content p, .content ul, .content ol, .content iframe, .content blockquote {
  margin: 20px 0;
}
.content ul {
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 3);
  padding-left: 20px;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  gap: 8px;
}
.content ul li {
  list-style: disc;
}
.content ul li::marker {
  color: var(--MainRed);
}
.content ol {
  list-style: decimal;
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 3);
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  gap: 8px;
  counter-reset: li;
}
.content ol li {
  list-style: none;
}
.content ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin-right: 20px;
  display: inline-block;
  color: var(--MainRed);
}
.content ol li ol {
  margin-left: 20px;
}
.content i {
  font-style: italic;
}
.content a {
  color: var(--MainBlue);
  text-decoration: underline;
}
@media (hover: hover) and (pointer: fine) {
  .content a:hover {
    color: var(--MainRed);
  }
}
.content b {
  font-weight: 700;
}
.content iframe {
  width: 100%;
  display: block;
  aspect-ratio: 16/9;
  border: none;
}
.content blockquote {
  padding: 12px 0 12px 45px;
  border-left: 4px solid var(--MainRed);
  font-size: 24px;
  font-weight: 700;
}
.content table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow-x: auto;
}
.content table td, .content table th {
  padding: 12px 25px;
}
.content table th {
  background: var(--MainBlue);
  color: var(--White);
}
.content table tbody tr:nth-child(odd) {
  background-color: var(--Gray5);
}
.content img {
  border-radius: 14px;
}
.content > :nth-child(1) {
  margin-top: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--container-padding);
}
.container--small {
  max-width: 930px;
}

.text-24 {
  font-size: 24px;
}

.mt-10 {
  margin-top: calc(var(--spacing) * 1) !important;
}

.mb-10 {
  margin-bottom: calc(var(--spacing) * 1) !important;
}

.mt-20 {
  margin-top: calc(var(--spacing) * 2) !important;
}

.mb-20 {
  margin-bottom: calc(var(--spacing) * 2) !important;
}

.mt-30 {
  margin-top: calc(var(--spacing) * 3) !important;
}

.mb-30 {
  margin-bottom: calc(var(--spacing) * 3) !important;
}

.mt-40 {
  margin-top: calc(var(--spacing) * 4) !important;
}

.mb-40 {
  margin-bottom: calc(var(--spacing) * 4) !important;
}

.mt-50 {
  margin-top: calc(var(--spacing) * 5) !important;
}

.mb-50 {
  margin-bottom: calc(var(--spacing) * 5) !important;
}

.mt-60 {
  margin-top: calc(var(--spacing) * 6) !important;
}

.mb-60 {
  margin-bottom: calc(var(--spacing) * 6) !important;
}

.mt-70 {
  margin-top: calc(var(--spacing) * 7) !important;
}

.mb-70 {
  margin-bottom: calc(var(--spacing) * 7) !important;
}

.mt-80 {
  margin-top: calc(var(--spacing) * 8) !important;
}

.mb-80 {
  margin-bottom: calc(var(--spacing) * 8) !important;
}

.mt-90 {
  margin-top: calc(var(--spacing) * 9) !important;
}

.mb-90 {
  margin-bottom: calc(var(--spacing) * 9) !important;
}

.mt-100 {
  margin-top: calc(var(--spacing) * 10) !important;
}

.mb-100 {
  margin-bottom: calc(var(--spacing) * 10) !important;
}

.mt-110 {
  margin-top: calc(var(--spacing) * 11) !important;
}

.mb-110 {
  margin-bottom: calc(var(--spacing) * 11) !important;
}

.mt-120 {
  margin-top: calc(var(--spacing) * 12) !important;
}

.mb-120 {
  margin-bottom: calc(var(--spacing) * 12) !important;
}

.mt-130 {
  margin-top: calc(var(--spacing) * 13) !important;
}

.mb-130 {
  margin-bottom: calc(var(--spacing) * 13) !important;
}

.mt-140 {
  margin-top: calc(var(--spacing) * 14) !important;
}

.mb-140 {
  margin-bottom: calc(var(--spacing) * 14) !important;
}

.mt-150 {
  margin-top: calc(var(--spacing) * 15) !important;
}

.mb-150 {
  margin-bottom: calc(var(--spacing) * 15) !important;
}

.mt-160 {
  margin-top: calc(var(--spacing) * 16) !important;
}

.mb-160 {
  margin-bottom: calc(var(--spacing) * 16) !important;
}

.mt-170 {
  margin-top: calc(var(--spacing) * 17) !important;
}

.mb-170 {
  margin-bottom: calc(var(--spacing) * 17) !important;
}

.mt-180 {
  margin-top: calc(var(--spacing) * 18) !important;
}

.mb-180 {
  margin-bottom: calc(var(--spacing) * 18) !important;
}

.mt-190 {
  margin-top: calc(var(--spacing) * 19) !important;
}

.mb-190 {
  margin-bottom: calc(var(--spacing) * 19) !important;
}

.mt-200 {
  margin-top: calc(var(--spacing) * 20) !important;
}

.mb-200 {
  margin-bottom: calc(var(--spacing) * 20) !important;
}

@font-face {
  font-family: "Mulish";
  src: url("/local/templates/template/fonts/Mulish-Bold.woff2") format("woff2"), url("/local/templates/template/fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/local/templates/template/fonts/Mulish-Regular.woff2") format("woff2"), url("/local/templates/template/fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/local/templates/template/fonts/Mulish-SemiBold.woff2") format("woff2"), url("/local/templates/template/fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  background: var(--bg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--Gray1);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page__breadcrumbs {
  margin-top: 20px;
}
.page__title {
  margin-top: 20px;
}
.page__grid {
  margin-top: 25px;
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 130px 1fr;
  grid-template-columns: 320px 1fr;
  gap: 130px;
}
.page__grid--noaside {
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}
a:visited {
  color: currentColor;
}

h1 {
  font-weight: 600;
  line-height: 120%;
  font-size: 64px;
}

h2 {
  font-weight: 600;
  line-height: 120%;
  font-size: 40px;
}

h3 {
  font-weight: 600;
  line-height: 120%;
  font-size: 36px;
}

h4 {
  font-weight: 600;
  line-height: 120%;
  font-size: 28px;
}

h5 {
  font-weight: 600;
  line-height: 120%;
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.ovh {
  overflow: hidden;
}

.ovxa {
  overflow-x: auto;
}
.ovxa::-webkit-scrollbar {
  height: 10px;
  background: #f1f1f1;
}
.ovxa::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: var(--MainBlue);
  border-radius: 100px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}
.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__addr {
  font-size: 16px;
  color: var(--Gray3);
}
.header__mail a {
  font-size: 16px;
  color: var(--Gray3);
}
@media (hover: hover) and (pointer: fine) {
  .header__mail a:hover {
    color: var(--MainRed);
  }
}
.header__info {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}
.header__phone a {
  font-weight: 700;
  line-height: 120%;
  font-size: 24px;
  color: var(--Gray1);
}
@media (hover: hover) and (pointer: fine) {
  .header__phone a:hover {
    color: var(--MainRed);
  }
}
.header__callback button {
  text-decoration: underline;
  font-size: 16px;
  color: var(--MainBlue);
}
.header__callback button:visited {
  color: var(--MainBlue);
}
@media (hover: hover) and (pointer: fine) {
  .header__callback button:hover {
    color: var(--MainRed);
  }
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header__search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  height: 30px;
  padding: 0 16px;
  background: var(--MainBlue);
  color: var(--White);
  border-radius: 100vmax;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (hover: hover) and (pointer: fine) {
  .header__search a:hover {
    background: var(--MainRed);
  }
}
.header__search a svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__search a svg path {
  stroke: currentColor;
}
.header-lang {
  --bg: var(--MainBlue);
  width: 90px;
  display: block;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .header-lang:hover {
    --bg: var(--MainRed);
  }
}
.header-lang__input {
  display: none;
}
.header-lang__input:checked + .header-lang__fake:before {
  right: initial;
  left: 0;
}
.header-lang__input:checked + .header-lang__fake span:nth-child(1) {
  color: var(--White);
}
.header-lang__input:checked + .header-lang__fake span:nth-child(2) {
  color: var(--MainBlue);
}
.header-lang__fake {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  background: rgba(51, 71, 152, 0.2);
  border-radius: 40px;
  position: relative;
}
.header-lang__fake span {
  color: var(--MainBlue);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 30px;
  font-weight: 600;
  font-size: 18px;
}
.header-lang__fake span:nth-child(2) {
  color: var(--White);
}
.header-lang__fake:before {
  content: "";
  width: 48px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 40px;
  background: var(--bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  position: relative;
  z-index: 11;
}
.header-menu__item {
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .header-menu__item:hover .header-menu__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-menu__link {
  font-size: 16px;
  color: var(--Gray1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 15px 5px;
}
@media (hover: hover) and (pointer: fine) {
  .header-menu__link:hover {
    color: var(--MainRed);
  }
}
.header-menu__link svg path {
  fill: currentColor;
}
.header-menu__sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  background: var(--White);
  border-radius: 10px;
}
.header-menu__sub-item {
  border-bottom: 1px solid var(--border);
}
.header-menu__sub-item:last-child {
  border-color: transparent;
}
.header-menu__sub-link {
  padding: 10px 0;
  display: block;
  color: var(--Gray1);
}
@media (hover: hover) and (pointer: fine) {
  .header-menu__sub-link:hover {
    color: var(--MainRed);
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--Gray5);
}
.top__title {
  font-weight: 600;
  line-height: 120%;
  font-size: 40px;
  max-width: 1100px;
}
.top__link {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: var(--Gray3);
}
@media (hover: hover) and (pointer: fine) {
  .top__link:hover {
    color: var(--MainRed);
  }
  .top__link:hover svg {
    background-color: var(--MainRed);
  }
}
.top__link svg {
  background-color: var(--MainBlue);
  border-radius: 20px;
}

.page-menu {
  padding: 5px 30px;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.page-menu__item {
  color: var(--Gray1);
  display: block;
  border-bottom: 1px solid var(--border);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
}
@media (hover: hover) and (pointer: fine) {
  .page-menu__item:hover {
    color: var(--MainBlue);
  }
}
.page-menu__item:last-child {
  border: none;
}
.page-menu__item.active {
  color: var(--MainRed);
}

.index {
  padding-top: 40px;
  padding-bottom: 84px;
}
.index__advantages {
  margin-top: calc(var(--spacing) * 6);
}
.index__services {
  margin-top: calc(var(--spacing) * 6);
}
.index__news {
  margin-top: calc(var(--spacing) * 9);
}
.index__mail {
  margin-top: calc(var(--spacing) * 6);
  position: relative;
}
.index__mail:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 50%;
  left: 0;
  right: 0;
  background: var(--White);
}
.index__mail .container {
  position: relative;
  z-index: 1;
}
.index__licences {
  padding: 75px 0;
  background: var(--White);
}
.index__contacts {
  position: relative;
}
.index__contacts:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 55%;
  left: 0;
  right: 0;
  background: var(--White);
}
.index__contacts .container {
  position: relative;
  z-index: 1;
}

.index-banner {
  position: relative;
}
.index-banner__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index-banner__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.index-banner__title {
  font-weight: 600;
  line-height: 120%;
  font-size: 64px;
}
.index-banner__desc {
  font-size: 18px;
}
.index-banner__btn {
  border-radius: 100vmax;
  height: 41px;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 13px 29px;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--MainBlue);
  border-color: var(--MainBlue);
  color: var(--White);
}
@media (hover: hover) and (pointer: fine) {
  .index-banner__btn:hover {
    background-color: var(--MainRed);
    border-color: var(--MainRed);
  }
}
.index-banner__img {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.index-banner__img:before {
  content: "";
  display: block;
  padding-top: 71.8181818182%;
}
.index-banner__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.index-banner__nav {
  position: absolute;
  z-index: 11;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.index-banner__arr {
  --bg: var(--White);
  --color: var(--Gray4);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--White);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--Gray4);
}
@media (hover: hover) and (pointer: fine) {
  .index-banner__arr:hover {
    --bg: var(--MainRed);
    --color: var(--White);
  }
}
.index-banner__arr svg rect {
  fill: var(--bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.index-banner__arr svg path {
  fill: var(--color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.index-banner__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  --swiper-pagination-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-width: 52px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-border-radius: 0;
}
.index-banner__pag .swiper-pagination-bullet {
  --progress: 0;
  overflow: hidden;
  position: relative;
}
.index-banner__pag .swiper-pagination-bullet:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: var(--progress);
  height: 100%;
  background: var(--purple);
}
.index-banner__pag .swiper-pagination-bullet-active:before {
  width: var(--progress);
}

.index-advantages {
  counter-reset: count;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.index-advantages__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px 1fr;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 30px;
  background-color: #eee;
  border-radius: 13px;
}
.index-advantages__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.index-advantages__count:before {
  counter-increment: count;
  content: "0" counter(count);
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: var(--White);
  line-height: 1;
  position: relative;
  z-index: 1;
}
.index-advantages__count:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: radial-gradient(66.88% 59.74% at 78.41% 50.31%, #ED6E93 0%, #EC6990 11%, #EB5D8A 22%, #E94980 32%, #E83677 40%, #E22D6F 48%, #D71E62 58%, #CA195B 63%, #BA1353 68%, #A21148 72%, #660D2C 78%, #490C1F 82%, #3D0F1C 95%, #38111C 100%);
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 110px;
  height: 110px;
}
.index-advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.index-advantages__title {
  font-weight: 600;
  line-height: 120%;
  font-size: 36px;
  color: var(--MainBlue);
}
.index-advantages__desc {
  font-size: 18px;
  font-weight: 700;
  color: var(--Gray2);
}

.index-services__items {
  margin-top: 50px;
}
.index-services__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.index-services__item:nth-child(2) .index-services__left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.index-services__item:nth-child(2) .index-services__right {
  padding-right: 50px;
}
.index-services__right {
  padding-left: 115px;
}
.index-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.index-services__content a {
  border-radius: 100vmax;
  height: 41px;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 13px 29px;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--MainRed);
  border-color: var(--MainRed);
  color: var(--White);
}
@media (hover: hover) and (pointer: fine) {
  .index-services__content a:hover {
    background-color: var(--MainBlue);
    border-color: var(--MainBlue);
  }
}
.index-news__bottom {
  margin-top: 30px;
}
.index-news__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.index-news__btn {
  height: 51px;
  padding: 0 40px;
  background-color: #efefef;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}
@media (hover: hover) and (pointer: fine) {
  .index-news__btn:hover {
    background-color: var(--MainRed);
    color: var(--White);
  }
}
.index-news__btn.active {
  background-color: var(--MainBlue);
  color: var(--White);
}
.index-news__tabs {
  margin-top: 35px;
}
.index-news__tab {
  display: none;
}
.index-news__tab.active {
  display: block;
}
.index-news__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.index-news__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 265px 25px 1fr;
  grid-template-columns: 265px 1fr;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (hover: hover) and (pointer: fine) {
  .index-news__item:hover {
    color: var(--MainRed);
  }
}
.index-news__item:nth-child(1) {
  -ms-grid-row-span: 3;
  grid-row: 3 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.index-news__img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
.index-news__img:before {
  content: "";
  display: block;
  padding-top: 72.7272727273%;
}
.index-news__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.index-news__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.index-news__date {
  font-size: 16px;
  color: var(--MainBlue);
}
.index-news__desc {
  font-size: 20px;
  font-weight: 600;
}
.index-news__more {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index-news__more:before, .index-news__more:after {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--Gray5);
}
.index-news__more button {
  border-radius: 100vmax;
  height: 41px;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 13px 29px;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: transparent;
  border-color: var(--MainBlue);
  color: var(--MainBlue);
}
@media (hover: hover) and (pointer: fine) {
  .index-news__more button:hover {
    background-color: var(--MainBlue);
    color: var(--White);
  }
}

.index-mail {
  background: url("/upload/images/content/index-mail/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  padding: 90px;
  border-radius: 20px;
}
.index-mail__content {
  text-align: center;
  color: var(--White);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}
.index-mail__content a {
  color: var(--White);
  text-decoration: underline;
}
@media (hover: hover) and (pointer: fine) {
  .index-mail__content a:hover {
    color: var(--RedLight);
  }
}

.index-licences__bottom {
  margin-top: 40px;
  position: relative;
}
.index-licences__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (hover: hover) and (pointer: fine) {
  .index-licences__slide:hover {
    color: var(--MainRed);
  }
}
.index-licences__img {
  position: relative;
  background-color: #efefef;
  border-radius: 20px;
  overflow: hidden;
}
.index-licences__img:before {
  content: "";
  display: block;
  padding-top: 76.4434180139%;
}
.index-licences__img-wrap {
  width: 282px;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}
.index-licences__img-wrap img {
  position: relative;
  z-index: 3;
  border-radius: 7px;
}
.index-licences__shade {
  width: 100%;
  height: 100%;
  inset: 0;
  background: #f5f5f5;
  border-radius: 7px;
  position: absolute;
  left: -45px;
  top: 53px;
}
.index-licences__shade:before {
  content: "";
  display: block;
  inset: 0;
  background: #e6e6e6;
  border-radius: 7px;
  position: absolute;
  z-index: 1;
  left: 16px;
  top: -20px;
}
.index-licences__shade:after {
  content: "";
  display: block;
  inset: 0;
  background: #d7d7d7;
  border-radius: 7px;
  position: absolute;
  z-index: 2;
  left: 30px;
  top: -38px;
}
.index-licences__desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
.index-licences__nav {
  position: absolute;
  z-index: 11;
  top: 140px;
  left: -22px;
  right: -22px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index-licences__arr {
  pointer-events: all;
}
.index-contacts__bottom {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.index-contacts__col {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.index-contacts__col:before {
  content: "";
  display: block;
  padding-top: 102.7164685908%;
}
.index-contacts__map {
  position: absolute;
  inset: 0;
}
.index-contacts__map [class*=copyrights-pane] {
  display: none !important;
}
.index-contacts__map [class*=ground-pane] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.index-contacts__wrap {
  position: absolute;
  inset: 0;
  background: url("/upload/images/content/index-contacts/bg.jpg") 0 0 no-repeat;
  background-size: cover;
}
.index-contacts__ball {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 16px;
  width: 251px;
}
.index-contacts__ball svg {
  width: 100%;
}
.index-contacts__content {
  position: absolute;
  top: 50%;
  left: 60px;
  right: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--White);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15.05px);
          backdrop-filter: blur(15.05px);
  padding: 75px 55px;
}
.index-contacts__name {
  font-weight: 600;
  line-height: 120%;
  font-size: 36px;
}
.index-contacts__addr {
  font-size: 20px;
  margin-top: 14px;
}
.index-contacts__tel {
  font-weight: 700;
  line-height: 120%;
  font-size: 32px;
  color: var(--White);
  margin-top: 14px;
}
@media (hover: hover) and (pointer: fine) {
  .index-contacts__tel:hover {
    color: var(--RedLight);
  }
}
.index-contacts__mail {
  font-size: 24px;
  color: var(--White);
}
@media (hover: hover) and (pointer: fine) {
  .index-contacts__mail:hover {
    color: var(--RedLight);
  }
}

.licenses__items {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}
.licenses__item {
  border: 1px solid var(--border);
  border-radius: 10px;
  overflow: hidden;
}

.license {
  background-color: var(--White);
}
.license__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 210px 50px 1fr;
  grid-template-columns: 210px 1fr;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.license__img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #efefef;
}
.license__img:before {
  content: "";
  display: block;
  padding-top: 76.6990291262%;
}
.license__img-wrap {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 134px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.license__img-wrap img {
  position: relative;
  z-index: 3;
  border-radius: 4px;
}
.license__shadow {
  width: 100%;
  height: 100%;
  inset: 0;
  background: #f5f5f5;
  border-radius: 7px;
  position: absolute;
  left: -22px;
  top: 25px;
}
.license__shadow:before {
  content: "";
  display: block;
  inset: 0;
  background: #e6e6e6;
  border-radius: 7px;
  position: absolute;
  z-index: 1;
  left: 8px;
  top: -10px;
}
.license__shadow:after {
  content: "";
  display: block;
  inset: 0;
  background: #d7d7d7;
  border-radius: 7px;
  position: absolute;
  z-index: 2;
  left: 15px;
  top: -18px;
}
.license__img2 {
  position: relative;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.license__img2:before {
  content: "";
  display: block;
  padding-top: 76.6839378238%;
}
.license__img2 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.license__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}
.license__title {
  font-size: 20px;
  font-weight: 600;
}
.license__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.license__date {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 100vmax;
  border: 1px solid var(--Gray4);
  white-space: nowrap;
}
.license__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.license__download, .license__show {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}
@media (hover: hover) and (pointer: fine) {
  .license__download:hover, .license__show:hover {
    color: var(--RedLight);
  }
}
.license__download {
  color: var(--MainBlue);
}
.license__show {
  color: var(--MainRed);
}
.license__open-archive {
  margin-left: auto;
  padding: 5px 10px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
  border-radius: 100vmax;
  background: #eaeaea;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.license__open-archive.active {
  background-color: var(--MainRed);
  color: var(--White);
}
.license__open-archive.active svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.license__open-archive svg {
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}
.license__open-archive svg path {
  fill: currentColor;
}
.license__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr;
  grid-template-rows: 0fr;
  background-color: #eeeeee;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.license__bottom.active {
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
}
.license__archive {
  overflow: hidden;
}

.license-archive {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}
.news__title {
  font-weight: 600;
  line-height: 120%;
  font-size: 64px;
}
.news__bottom {
  margin-top: 35px;
}

.new__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr 20px 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  border-bottom: 1px solid var(--Gray5);
  padding-bottom: 35px;
}
.new__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.new__section {
  color: var(--MainBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}
.new__section a {
  border-radius: 100vmax;
  height: 41px;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 13px 29px;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: transparent;
  border-color: var(--Gray3);
  color: var(--Gray3);
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 23px;
  height: 30px;
}
@media (hover: hover) and (pointer: fine) {
  .new__section a:hover {
    border-color: var(--MainRed);
    background-color: var(--MainRed);
    color: var(--White);
  }
}
.new__date {
  margin-top: auto;
  color: var(--MainRed);
}
.new__socials {
  margin-top: 10px;
}
.new__img {
  border-radius: 20px;
  position: relative;
}
.new__img:before {
  content: "";
  display: block;
  padding-top: 72.7272727273%;
}
.new__img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.new__author {
  position: absolute;
  bottom: 0;
  right: calc(100% + 20px);
  color: var(--Gray3);
  white-space: nowrap;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.new__bottom {
  max-width: 700px;
  padding: 0 20px;
  width: 100%;
  margin: 30px auto 0;
}

.new-socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (hover: hover) and (pointer: fine) {
  .new-socials__item:hover svg path {
    fill: var(--MainRed);
  }
}

.new-last__title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.new-last__items {
  margin-top: 15px;
  margin-bottom: 20px;
}
.new-last__item {
  display: -ms-grid;
  display: grid;
  gap: 4px;
  padding: 10px 0;
  border-bottom: 1px solid var(--Gray4);
}
@media (hover: hover) and (pointer: fine) {
  .new-last__item:hover {
    color: var(--MainRed);
  }
}
.new-last__date {
  font-size: 12px;
  color: var(--MainBlue);
}
.new-last__all {
  margin-top: 20px;
  text-decoration: underline;
  font-size: 16px;
  color: var(--MainBlue);
}
.new-last__all:visited {
  color: var(--MainBlue);
}
@media (hover: hover) and (pointer: fine) {
  .new-last__all:hover {
    color: var(--MainRed);
  }
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 8px;
}
.sort__name {
  font-size: 18px;
  color: var(--MainBlue);
}
.sort .choices:after {
  width: 18px !important;
  height: 18px !important;
  border: none !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTgnIGhlaWdodD0nMTknIHZpZXdCb3g9JzAgMCAxOCAxOScgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNS41NTc1IDYuODA3NjJMOSAxMC4yNTAxTDEyLjQ0MjUgNi44MDc2MkwxMy41IDcuODcyNjJMOSAxMi4zNzI2TDQuNSA3Ljg3MjYyTDUuNTU3NSA2LjgwNzYyWicgZmlsbD0nIzMzMzMzMycvPjwvc3ZnPgo=") !important;
  right: 5px !important;
  margin-top: -8px !important;
}
.sort .choices.is-open:after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5575 6.80762L9 10.2501L12.4425 6.80762L13.5 7.87262L9 12.3726L4.5 7.87262L5.5575 6.80762Z' fill='%23BA1353'/%3E%3C/svg%3E%0A") !important;
}
.sort .choices.is-open .choices__inner {
  color: var(--MainRed);
}
.sort .choices__inner {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  min-height: initial;
}
.sort .choices__list--single {
  padding: 8px 30px 8px 5px;
}
.sort .choices__list--dropdown {
  min-width: 320px;
  border-radius: 10px !important;
  border-color: #dcdcdc !important;
  right: 0;
  padding: 5px 30px;
}
.sort .choices__item--choice {
  padding: 15px 0 !important;
  border-bottom: 1px solid #dcdcdc;
  font-size: 16px !important;
  font-weight: 600;
}
.sort .choices__item--choice:last-child {
  border: none;
}
.sort .choices__item--choice.is-highlighted {
  background: none !important;
  color: var(--MainBlue);
}
.sort .choices__item--choice.is-selected {
  background: none !important;
  color: var(--MainRed);
}
.sort .choices__item--choice:after {
  display: none;
}

.footer {
  background: #293B81;
  color: var(--White);
}
.footer__up {
  position: absolute;
  top: 84px;
  right: -84px;
}
.footer__top {
  background: url("data:image/svg+xml,%3Csvg width='802' height='570' viewBox='0 0 802 570' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.97891 458.579C1.47424 473.629 -1.47878 491.384 1.59236 508.433C4.42725 523.954 12.2232 538.417 23.799 549.469C42.4621 567.107 69.866 574.044 94.6713 567.459C117.35 561.463 135.777 545.236 144.636 524.072V523.836C164.599 483.153 184.561 442.352 204.523 401.669C216.217 377.918 227.793 354.048 239.487 330.297C251.181 306.545 262.757 282.676 274.451 258.925C281.42 272.917 288.389 286.909 295.358 300.784C305.871 321.949 316.502 343.113 327.014 364.16C340.362 390.969 353.71 417.66 367.057 444.469C379.814 469.984 392.571 495.499 405.328 521.015C408.636 527.717 411.943 534.419 416.55 540.298C427.417 554.173 443.127 564.167 460.609 567.812C465.57 568.87 470.649 569.341 475.846 569.341C481.752 569.341 487.54 568.635 492.974 567.342C516.007 561.933 535.497 545.471 544.829 523.954C545.537 522.425 546.128 520.897 546.6 519.368C547.309 517.722 548.018 516.076 548.727 514.43C549.79 512.078 550.853 509.727 551.798 507.375L555.105 499.967C561.129 486.328 567.153 472.688 573.177 459.049C582.863 437.179 592.431 415.426 602.117 393.556C609.913 375.801 617.827 357.929 625.741 340.174C638.026 312.542 650.192 284.793 662.477 257.044C679.132 219.3 695.787 181.556 712.56 143.812C723.427 119.238 734.294 94.7808 745.043 70.2063C756.973 43.1625 769.021 16.0011 780.951 -11.0427C784.613 -19.2734 788.275 -27.6217 791.937 -35.8524C797.843 -46.5524 801.15 -58.7809 801.15 -71.7149C801.15 -86.7653 796.661 -100.758 788.984 -112.516C781.66 -123.686 771.384 -132.857 759.336 -138.736C749.295 -143.675 737.956 -146.497 726.025 -146.497C703.937 -146.497 682.557 -136.502 668.383 -119.571C662.713 -112.751 658.224 -104.99 655.271 -96.5246C644.286 -71.7149 633.419 -47.0227 622.434 -22.213C602.826 22.1153 583.218 66.3261 563.728 110.654C544.12 155.1 524.512 199.546 504.786 243.874C497.935 259.278 491.084 274.798 484.351 290.202C480.099 299.726 475.964 309.25 471.712 318.774C454.821 285.028 438.048 251.282 421.156 217.536C412.061 199.311 402.966 181.086 393.871 162.861L377.097 129.115C376.271 127.469 375.444 125.94 374.735 124.294C363.632 101.953 352.41 79.6128 341.307 57.2723C339.181 52.9217 336.582 48.924 333.747 45.1613C325.243 33.8735 313.785 24.9373 300.319 19.8813C292.051 16.7066 283.074 15.0604 273.624 15.0604C264.174 15.0604 255.315 16.8242 246.929 19.8813C227.675 27.1713 212.083 42.3394 204.169 61.27C203.815 61.858 203.578 62.5634 203.224 63.1514L192.593 84.7864L184.561 101.248C182.789 105.01 180.899 108.655 179.127 112.418C175.82 119.12 172.513 125.94 169.205 132.642C161.882 147.575 154.558 162.508 147.353 177.323C128.336 216.243 109.318 255.045 90.3009 293.964C67.6217 340.291 44.9426 386.619 22.1453 432.946C19.5467 438.355 16.8299 443.763 14.2313 449.172C12.6957 452.347 11.1601 455.404 9.62455 458.579' fill='%23263679'/%3E%3C/svg%3E%0A") center top no-repeat;
  padding: 80px 0;
}
.footer__top-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 20px 4fr 20px 3fr;
  grid-template-columns: 5fr 4fr 3fr;
  gap: 20px;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__desc {
  font-size: 18px;
  margin-top: 25px;
  max-width: 320px;
}
.footer__last {
  font-size: 20px;
  margin-top: 34px;
}
.footer__last a {
  text-decoration: underline;
  font-size: 20px;
  color: var(--purple);
}
@media (hover: hover) and (pointer: fine) {
  .footer__last a:hover {
    color: var(--RedLight);
  }
}
.footer__menu a {
  font-size: 20px;
  color: var(--White);
  display: block;
  padding: 10px 0;
}
@media (hover: hover) and (pointer: fine) {
  .footer__menu a:hover {
    color: var(--RedLight);
  }
}
.footer__addr {
  font-size: 20px;
}
.footer__map {
  text-decoration: underline;
  color: var(--purple);
  margin-top: 10px;
}
@media (hover: hover) and (pointer: fine) {
  .footer__map:hover {
    color: var(--RedLight);
  }
}
.footer__tel {
  font-weight: 700;
  line-height: 120%;
  font-size: 32px;
  color: var(--purple);
  margin-top: 38px;
}
@media (hover: hover) and (pointer: fine) {
  .footer__tel:hover {
    color: var(--RedLight);
  }
}
.footer__mail {
  font-size: 20px;
  color: var(--White);
  margin-top: 4px;
}
@media (hover: hover) and (pointer: fine) {
  .footer__mail:hover {
    color: var(--RedLight);
  }
}
.footer__bottom {
  background: #334798;
  padding: 30px 0;
}
.footer__bottom-container {
  position: relative;
}
.footer__info {
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}
.footer__policy {
  position: absolute;
  top: 0;
  right: 0;
}
.footer__policy a {
  text-decoration: underline;
  font-size: 14px;
  color: var(--White);
}
@media (hover: hover) and (pointer: fine) {
  .footer__policy a:hover {
    color: var(--RedLight);
  }
}
/*# sourceMappingURL=styles.css.map */